Repository zenika-open-source/immutadot: changes, and which Codecov flags are due for each by the changed paths.
All: immutadot, immutadot-lodash

.codecov.yml:

coverage:
  range: "100..100"
flags:
  immutadot:
    paths:
      - packages/immutadot/
  immutadot-lodash:
    paths:
      - packages/immutadot-lodash/

:wrench: fix codecov ignores
  .codecov.yml
Due: none

:arrow_up: Upgrade eslint to 4.12
  yarn.lock
Due: none

:wrench: Use jest coverage ignores...
  .codecov.yml
  jest.config.js
Due: none

:wrench: Codecov flags...
  .codecov.yml
Due: none

:wrench: Retry codecov at package level in order to fix flags
  .codecov.yml
  package.json
  packages/immutadot-lodash/package.json
  packages/immutadot/package.json
Due: immutadot, immutadot-lodash

:rewind: Revert to codecov at top level with valid YAML !
  .codecov.yml
  package.json
  packages/immutadot-lodash/package.json
  packages/immutadot/package.json
Due: immutadot, immutadot-lodash

:wrench: Flags...
  .codecov.yml
Due: none

:wrench: codecov...
  .codecov.yml
  package.json
  packages/immutadot-lodash/.codecov.yml
  packages/immutadot-lodash/package.json
  packages/immutadot/.codecov.yml
  packages/immutadot/package.json
Due: immutadot, immutadot-lodash

:wrench: codecov...
  .codecov.yml
  packages/immutadot-lodash/.codecov.yml
  packages/immutadot-lodash/package.json
  packages/immutadot/.codecov.yml
  packages/immutadot/package.json
Due: immutadot, immutadot-lodash

:wrench: Just forget about codecov flags...
  package.json
  packages/immutadot-lodash/package.json
  packages/immutadot/package.json
Due: immutadot, immutadot-lodash

:wrench: Add immutadot's build in immutadot-lodash's pretest
  packages/immutadot-lodash/package.json
Due: immutadot-lodash

⚡ Avoid unnecessary mutations in apply
  misc/test.utils.js
  packages/immutadot/src/core/apply.js
  packages/immutadot/src/core/apply.spec.js
Due: immutadot

:ok_hand: review @frinyvonnick
  packages/immutadot/src/core/apply.js
Due: immutadot

recursive toPath
  packages/immutadot/src/core/toPath.js
Due: immutadot

:hammer: better lisibility (?) using a helper match function
  packages/immutadot/src/core/toPath.js
Due: immutadot

:ok_hand: :hammer: use functions more aligned with intent
  packages/immutadot/src/core/toPath.js
Due: immutadot

:hammer: simpler parseQuotedBracketNotation
  packages/immutadot/src/core/toPath.js
Due: immutadot

:bulb: :art: jsdoc and split long lines
  packages/immutadot/src/core/toPath.js
Due: immutadot

:hammer: moar regexes?
  packages/immutadot/src/core/toPath.js
Due: immutadot

:hammer: parseBareBracketNotation using regexp
  packages/immutadot/src/core/toPath.js
Due: immutadot

:hammer: smaller functions
  packages/immutadot/src/core/toPath.js
Due: immutadot

:hammer: only regexes! :smiling_imp:
  packages/immutadot/src/core/toPath.js
Due: immutadot

:hammer: renamed vars to avoid shadowing
  packages/immutadot/src/core/toPath.js
Due: immutadot

:hammer: path syntax parser: match function spreads results into downstream functions
  packages/immutadot/src/core/toPath.js
Due: immutadot

:sparkles: path syntax: leading dot now ignored
  packages/immutadot/src/core/toPath.js
  packages/immutadot/src/core/toPath.spec.js
Due: immutadot

:rotating_light: fix lint
  packages/immutadot/src/core/toPath.js
Due: immutadot

:bulb: fix jsdoc
  packages/immutadot/src/core/toPath.js
Due: immutadot

:ok_hand: :hammer: explicit regexp parser creation
  packages/immutadot/src/core/toPath.js
Due: immutadot

:ok_hand: :hammer: parser combinators
  packages/immutadot/src/core/toPath.js
  src/core/parser.js
Due: immutadot

:hammer: adapting to new code organization
  packages/immutadot/src/core/parser.utils.js
  packages/immutadot/src/core/toPath.js
Due: immutadot

:rewind: reverting merge mistakes
  packages/immutadot/src/core/toPath.js
Due: immutadot

⚡ Avoid unnecessary mutations in apply (#144)
  misc/test.utils.js
  packages/immutadot/src/core/apply.js
  packages/immutadot/src/core/apply.spec.js
Due: immutadot

:bulb: fix jsdoc
  packages/immutadot/src/core/parser.utils.js
  packages/immutadot/src/core/path.utils.js
  packages/immutadot/src/core/toPath.js
  packages/immutadot/src/util/lang.js
Due: immutadot

Refactoring of the string path syntax parser (#115)
  packages/immutadot/src/core/parser.utils.js
  packages/immutadot/src/core/path.utils.js
  packages/immutadot/src/core/toPath.js
  packages/immutadot/src/core/toPath.spec.js
  packages/immutadot/src/util/lang.js
Due: immutadot

🔧 Add arrow-parens to .eslintrc
  .eslintrc.json
Due: none

:hammer: Remove lodash from reverse
  packages/immutadot/src/array/reverse.js
Due: immutadot
